<div>
	<section id="banner">
			<div>
				<h2>Neo PFC</h2>
				<p>Un petit jeu créé en ISN.<br />
				 Jouez à une variante de "Pierre - Feuille - Ciseaux" en ligne,<br />
				créé par Ilan, Liliam et Odon.</p>
				<ul class="actions">
					<li><a href="/creer" class="button special">Créer une partie</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/rejoindre" class="button special">Rejoindre une partie</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/statistiques" class="button special">Vos statistiques</a></li>
				</ul>
			</div>
			<div><p>Neo PFC par PGE</p></div>
	</section>
</div>
