<div>
	<section id="banner">
			<div>
				<h2>Créer une partie</h2>
				<p>Vous pouvez créer une partie en entrant un pseudo.</p>
			</div>
			<div class="recherche_p">
				<form action="/game" id="searchthis" method="post">
					<input class="search" name="pseudo" type="text" placeholder="Votre pseudo" />
					<input id="search-btn" type="submit" value="Créer" />
				</form>
			</div>
			<div>
				<ul class="actions">
					<li><a href="/" class="button special">Accueil</a></li>
				</ul>
			</div>
			<div><p>Neo PFC par PGE</p></div>
	</section>
</div>

