<!-- Page rejoindre une partie -->
	<div>
		<section id="banner">
				<div>
					<h2>Rejoindre une partie</h2>
					<p>Vous pouvez rejoindre une partie en cours en entrant le nom d'une partie.</p>
				</div>
				<div class="recherche_p">
					<form action="/game" id="searchthis" method="post">
						<input class="search" name="gameId" type="text" placeholder="Numéro de la partie" />
						<input class="search" name="pseudo" type="text" placeholder="Votre Pseudo" />
						<input id="search-btn" type="submit" value="Rejoindre" />
					</form>
				</div>
				<div>
					<ul class="actions">
						<li><a href="/" class="button special">Accueil</a></li>
					</ul>
				</div>
				<div><p>Neo PFC par PGE</p></div>
		</section>
	</div>

