<div>
	<section id="banner">
			<div>
				<h2>Vos statistiques</h2>
				<p>Voici toutes vos statistiques sur notre jeu : Neo PFC.</p>
			</div>
			<div class="recherche_p">
				<form action="/search" id="searchthis" method="get">
				<input id="search" name="q" type="text" placeholder="Inscrivez votre pseudonyme" />
				<input id="search-btn" type="submit" value="Rechercher" />
				</form>
			</div>
			<div>
				<ul class="actions">
					<li><a href="/" class="button special">Accueil</a></li>
				</ul>
			</div>
			<div><p>Neo PFC par PGE</p></div>
	</section>
</div>
